html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.jumbotron {
  background-color: gray;
  height: 32vh;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skill {
  text-align: center;
}

/* ABOUT ME */

/* PROJECTS */
.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.mb-3 {
  border: none;
}

.col-md-6 {
  padding: 25px;
}

.fa-linkedin,
.fa-envelope,
.fa-github {
  font-size: 3em;
  padding: 5px;
}
